<div>
  <div class="col-md-6">
    <%=link_to artist.name, artist %> <%= artist.pretty_genres%>
    <div class="embed-responsive embed-responsive-4by3">
      <%= artist.embed(artist.find_id) %>
    </div>
  </div>
</div>