<div class="text-center">
  <h1><%= @artist.name %></h1>
  <h4><%=@artist.pretty_genres%></h4>
</div>


<div id="main-container" class="container-fluid">
  <h2>Upcoming Events</h2>
  <%= render @artist.events %>
</div>

<p>
</p>

<div class="col-md-6">
  <div class="embed-responsive embed-responsive-4by3">
    <%= @artist.embed(@artist.find_id) %>
  </div>
</div>